body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(248, 248, 224);
}

header {
    width: 600px;
    height: 100px;
    margin: 15px auto;
    
}

h1 {
    width: 300px;
    padding: 10px;
    margin: auto;
    font-size: 3em;
    font-family: 'Dauphin';
    color: navy;
    text-align: center;
}

hr {
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
    margin: auto;
}

button {
    height: 60px;
    width: 300px;
    font-size: 25px;
    font-weight: bolder; 
    color: white;
    margin: 0 20px;
    border-radius: 5px;   
    background: linear-gradient(180deg, #6572e8 0%, #313085 100%);
}
button:hover {
    background: linear-gradient(180deg, #8f99ec 0%, #515185 100%);
}

p {
    width: 350px;
    color:black;
    border: solid 2px rgb(160, 159, 159);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
    
}

#b {
    padding: 20px;
    display: flex;
    justify-content: center;
}

#caja {
    max-width: 1960px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}